<section>
  <h3>Add a new note</h3>
  <form class="new-note-form" action="/note" method="post">
    <label for="subject">Subject</label>
    <input id="subject" type="text" name="subject" />
    <label for="body">Body</label>
    <textarea class="new-note-body" id="body" type="textarea" name="body" rows="10"></textarea>
    <button type="submit">Save</button>
  </form>
</section>